
body {
  padding-top:50px;
}

.navbar .brand {
  font-family:Pacifico;
  font-size:24px;
  color:#E33330;
}

#login-buttons {
  margin-top:10px;
}

iframe {
  display:block;
  margin-top:10px;
}

.modify {
  label {
    font-weight:bold;
  }
  .help-block {
    font-size:12px;
    color:#999;
    margin-top:-10px;
  }
  textarea.fixture-html,
  textarea.css-files {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    height: 100px;
  }
  textarea.fixture-html {
    height: 200px;
  }
}

.test-history {
  >ul {
    margin:0;

    >li {
      list-style:none;
      clear:both;
      border-top: 1px solid #ccc;
      border-bottom: 0px;
      padding: 3px 0;
      &.expanded {
      }
    }
  }
  .expand-details {
    &:after {
      content: " >";
    }
    &:before {
      content: "Expand ";
    }
    &.active {
      &:before {
        content: "< Collapse ";
      }
      &:after {
        content: "";
      }
    }
  }
  .details {
    margin:10px 0;
    display:none;

    &.show {
      display:block;
    }

    .nav-tabs {
      .descriptor { 
        line-height: 36px;
        padding-right:10px;
      }
    }

    div.failure {
      display:none;
      &.active {
        display:block;
      }
    }
    
    ul.failures {
      margin:0;
      >li {
        padding-bottom:5px;
        list-style:none;
      }
    }

    dl {
      margin: 0;
      clear:both;
    }
    dd {
      float:left;
      width:auto;
      font-family:monospace;

      &.name {
        font-weight:bold;

        &:after {
          content: ":";
        }
      }
      &.expected {
        text-decoration:line-through;
      }
      &.actual {
        font-style:italic;
      }
    }
    dt {
      display:none;
    }
  }
}

