.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

body {
}

.page-loading {
  background: url(ajax-loader.gif) no-repeat 50% 50%;
  min-height: 100px;
}

.navbar .brand {
  font-family:Pacifico;
  font-size:24px;
  color:#E33330;
}

#login-buttons {
  margin-top:10px;
}

iframe {
  display:block;
}

.modify {
  label {
    font-weight:bold;
  }
  .help-block {
    font-size:12px;
    color:#999;
    margin-top:-10px;
  }
  textarea.fixture-html,
  textarea.css-files {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    height: 100px;
  }
  textarea.fixture-html {
    height: 200px;
  }
  .save-wrapper {
    padding-right:25px;
    display:inline-block;
    &.loading {
      background:url(ajax-loader-small.gif) no-repeat center right;
    }
  }
}

.nav-tabs {
  .descriptor { 
    line-height: 36px;
    padding-right:10px;
  }
}

.test-actions {
  padding-left: 25px;
  &.loading {
    background:url(ajax-loader-small.gif) no-repeat center left;
  }
}


.test-panel {
  display:none;
  &.active {
    display:block;
  }
}

.test-preview {
  iframe {
    display:none;
    &.active {
      display:block;
    }
  }
}

.test-history {
  >ul {
    margin:0;

    >li {
      list-style:none;
      clear:both;
      border-bottom: 1px solid #eee;
      .statusbar{
        padding: 3px 8px;
      }
      &.expanded {
        .statusbar {
          .gradient(#f5f5f5, #ffffff);  
        }
        .details {
          display:block;
        }
        .expand-details {
          &:before {
            content: "< Collapse ";
          }
          &:after {
            content: "";
          }
        }
      }
    }
  }
  .expand-details {
    float:right;

    &:after {
      content: " >";
    }
    &:before {
      content: "Expand ";
    }
  }
  .details {
    margin:10px 0;
    display:none;

    >.nav-tabs{
      margin-bottom:0;
    }

    div.failure {
      background:#f5f5f5;
      display:none;
      &.active {
        display:block;
      }
      .nav-tabs {
        float:right;
        position:relative;
        top: -38px;
        margin-bottom: -38px;
      }
      iframe {
        width: 100%;
        border:0;
        background:#fff;
        display:none;
        &.active {
          display:block;
        }
      }
    }
    
    ul.failures {
      margin:10px;
      >li {
        padding-bottom:5px;
        list-style:none;
      }
    }

    dl {
      margin: 0;
      clear:both;
    }
    dd {
      float:left;
      width:auto;
      font-family:monospace;
      font-size:12px;
      line-height:16px;

      &.name {
        font-weight:bold;

        &:after {
          content: ":";
        }
      }
      &.expected {
        text-decoration:line-through;
      }
      &.actual {
        font-style:italic;
      }
    }
    dt {
      display:none;
    }
  }
}

